{% extends 'base.html' %}
{% block top_info_block %}
<h1 id="in_progress">Tombola {{ game.id }} in progress</h1>
<h2 id="purchase_success">Purchase successful of {{ ticket_ids|length }} tickets for a total cost of £{{ total_cost }} </h1>
<h3>Your odds of winning are {{ ticket_odds }}%</h3>
{% endblock %}
{% block form_block %}
<p>Your ticket IDs are the following:</p>
<table class="table">
    {% for ticket in ticket_ids %}
    <tr><td>{{ticket}}</td></tr>
    {% endfor %}
</table>
{% endblock %}
{% block bottom_info_block %}



{% endblock %}
