{% extends 'base.html' %}
{% block top_info_block %}
<p>How long would you like the tombola to run for? (in seconds)</p>
{% endblock %}
{% block form_block %}
    <form method="POST" action="/tombolas/new">
        <input type="number" name="time_limit" id="id_time_limit" placeholder="time limit" autofocus/>
        {% csrf_token %}
    </form>
{% if error %}<p id="error" class="text-danger">Error: {{ error }}</p>{% endif %}

{% endblock %}
{% block bottom_info_block %}
<p>press enter to start tombola</p>

<h4>Tombola status</h4>
<table class="table">
<a href="/tombolas/{{game.id}}/">

{% for tombola in tombolas %}
        <tr>
            <td><a href="/tombolas/{{tombola.id}}/">Tombola {{tombola.id}}</a><td>
            {% if tombola.is_finished %}
            <td>Winner: {{ tombola.calculate_winner }}</td>
            {% else %}
            <td>{{ tombola.minutes_remaining }} mins & {{ tombola.seconds_remaining }} secs left</td>
            {% endif %}
        </tr>

    {% endfor %}
</table>
{% endblock %}
