{% extends 'base.html' %}
{% block top_info_block %}
<h1 id="in_progress">Tombola {{ game.id }} in progress</h1>
<p>{{ time_remaining.minutes }} minute{% if time_remaining.minutes > 1 %}s{% endif %}
    and {{ time_remaining.seconds }} second{% if time_remaining.seconds > 1 %}s{% endif %}
    remaining</p>
{% endblock %}
{% block form_block %}
<form method="POST" action="/tombolas/{{game.id}}/buy/">
    <input type="number" name="ticket_quantity" id="id_ticket_quantity" placeholder="quantity" autofocus/>
    {% csrf_token %}
</form>
{% endblock %}
{% block bottom_info_block %}
<p>press enter to buy ticket(s)</p>
{% endblock %}
